@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

/* CSS Reset */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 2px;
  background-color: #000;
}
