<body>
  <div class="container">
    <nav>
      <div class="nav-items">
        <a href="#profile">
          <span class="material-symbols-outlined">About me</span>
        </a>
        <a href="#experience">
          <span class="material-symbols-outlined">Experiences</span>
        </a>
        <a href="#project">
          <span class="material-symbols-outlined">Projects</span>
        </a>
        <a href="#skills">
          <span class="material-symbols-outlined">Skills</span>
        </a>
        <a href="#contact">
          <span class="material-symbols-outlined">Contact</span>
        </a>
      </div>
    </nav>
  </div>
</body>
