.container {
  height:calc(80vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: calc(10px + 2vw);
  padding: 0 10px;
  text-align: center;
}

img {
  width: min(20vw, 150px);
  border-radius: 50%;
  margin-top: 20px;
  opacity: 0; // Add this line
  animation: fadeIn  0.8s ease-in forwards; // Add this line
}

h1 {
  margin: 10px 0;
  font-size: min(5vw, 3rem);
}

.title div {
  font-size: clamp(0.8rem, 1.5vw, 2rem);
  letter-spacing: 1px;
  line-height: 1.5;
}

hr {
  width: min(65vw);
  border: 0.5px solid #000;
  position: relative;
}

.social-media-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.social-media-button {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  outline: 2px solid white;
  cursor: pointer;
  transition: all 0.3s;
  display: grid;
  place-items: center;
}

.social-media-button:hover {
  outline-offset: 3px;
  transition: all 0.3s;
}

.social-media-button svg {
  transition: all 0.3s;
}

.social-media-button:hover svg {
  transform: scale(1.15);
}

.github:hover {
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.linkedin:hover {
  background-color: rgba($color: #0077b5, $alpha: 0.3);
}

.mail:hover{
  background-color: rgba(230,100,150,0.3);
}

.title div,
h1 {
  --total: calc(var(--duration) + var(--delay));
  position: relative;
  display: block;
  color: transparent;
  overflow: hidden;
  animation: reveal 1s var(--total) forwards;
}
.title div {
  --total: calc(var(--duration) + var(--delay));
  padding: 5px;
  position: relative;
  display: block;
  animation: reveal2 1s forwards;
  z-index: 1;
}
.title div::after,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: rgba($color: #000000, $alpha: 1);
  animation: rollIn var(--duration) var(--delay) forwards,
    rollOut var(--duration) var(--total) forwards;
}
.title div::after {
  background-color: #000;
  animation: rollIn var(--duration) var(--delay) forwards;
  z-index: -1;
}
// .title div::after {
// 	border-top: 3px solid #D7EFE0;
// }
@keyframes reveal {
  to {
    color: #000;
  }
}
@keyframes reveal2 {
  to {
    color: #fff;
  }
}
@keyframes rollIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes rollOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(105%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}